---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">
				Hey, soy JC_DEV
				<a href="#" target="_blank" rel="noopener" class="flex items-center">
					<Badge>Disponible</Badge>
				</a>
			</h1>
			<h2 class="text-xl opacity-80">+5 años de experiencia. Desarrollador Web Full-Stack. De Puebla, México. Me especializo en desarrollar soluciones a la medida.</h2>
		</section>
	</main>
</Layout>